* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: black;
  min-height: 100%;
  font-family: "Arial", sans-serif;
}

.wrap {
  position: relative;
  height: 100%;
  min-height: 500px;
  padding-bottom: 20px;
}

.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100%;
  height: 100%;
}

.wrap.game img {
  height: 80%;
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: grey;
  }
}
.wrap .game .card {
  float: left;
  width: 16.66666%;
  height: 25%;
  padding: 5px;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  background-color: #000;
}
@media (max-width: 800px) {
.wrap .game  .card {
    width: 25%;
    height: 16.666%;
  }
}

.wrap .game .card .inside {
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: .4s ease-in-out;
  background: white;
}
.wrap .game .card .inside.picked, .card .inside.matched {
  transform: rotateY(180deg);
}
.wrap .game .card .inside.matched {
  animation: 1s matchAnim ease-in-out;
  animation-delay: .5s;
}
.wrap .game .card .front, .card .back {
  border: 1px solid black;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.wrap .game .card .front img, .card .back img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}
.wrap .game .card .front {
  transform: rotateY(-180deg);
}
@media (max-width: 800px) {
  .wrap .game .card .front {
    padding: 5px;
  }
}
@media (max-width: 800px) {
  .wrap .game .card .back {
    padding: 10px;
  }
}
